<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>All Users</title>
</head>

<body class="w-full min-h-screen bg-zinc-900 p-10 text-white">

    <a class="text-blue-500" href="/">← Back to home</a>

    <h1 class="text-3xl mt-10 tracking-tighter mb-5">All Users</h1>

    <div class="users flex gap-3 flex-wrap">

        <% if(users && users.length){ %>

            <% users.forEach(function(user){ %>

                <div class="user max-w-72 p-4 bg-zinc-800 rounded-lg">
                    
                    <div class="w-full h-52 rounded-lg bg-zinc-700 overflow-hidden">
                        <% if(user.image){ %>
                            <img class="w-full h-full object-cover" src="<%= user.image %>" alt="">
                        <% } %>
                    </div>

                    <h3 class="text-xl mt-3 tracking-tighter"><%= user.name %></h3>
                    <h5 class="text-zinc-400"><%= user.email %></h5>

                    <div class="flex gap-3 mt-6">
                        <a class="text-zinc-200" href="">Edit User</a>
                        <a class="text-red-500" href="/delete/<%= user._id %>">Delete User</a>
                    </div>

                </div>

            <% }) %>

        <% } else { %>

            <h2 class="text-zinc-400">No users found 😢</h2>

        <% } %>

    </div>

</body>
</html>

